@import url('https://fonts.cdnfonts.com/css/neuething-sans-test');
@import url('https://fonts.cdnfonts.com/css/raleway-5');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Neuething Sans Test', sans-serif;
}

body{
  background: #f9fafe;
  color: #282828;
}

button, textarea, input, select, a{
  outline: none;
}

.header a.active{
  background: #4F48EC;
  color: white;
  padding: 7px 15px;
  border-radius: 10px;
}

.header{
  box-shadow: 0px 1px 6px #afafaf3d;
}

.raleway{
  font-family: 'Raleway', sans-serif;
}

.spin{
  animation: spin 0.5s linear 0s infinite;
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}